<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bdqn.day0506.dao.GoodsMapper">
  <resultMap id="BaseResultMap" type="com.bdqn.day0506.entity.Goods">
    <!--@mbg.generated-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="goodsName" jdbcType="VARCHAR" property="goodsname" />
    <result column="billStatus" jdbcType="INTEGER" property="billstatus" />
    <result column="goodsDistrict" jdbcType="INTEGER" property="goodsdistrict" />
    <result column="goodsPrice" jdbcType="DOUBLE" property="goodsprice" />
    <result column="goodsCount" jdbcType="BIGINT" property="goodscount" />
    <result column="creationTime" jdbcType="DATE" property="creationtime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, goodsName, billStatus, goodsDistrict, goodsPrice, goodsCount, creationTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from goods
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from goods
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.bdqn.day0506.entity.Goods" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into goods (goodsName, billStatus, goodsDistrict, 
      goodsPrice, goodsCount, creationTime
      )
    values (#{goodsname,jdbcType=VARCHAR}, #{billstatus,jdbcType=INTEGER}, #{goodsdistrict,jdbcType=INTEGER}, 
      #{goodsprice,jdbcType=DOUBLE}, #{goodscount,jdbcType=BIGINT}, #{creationtime,jdbcType=DATE}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.bdqn.day0506.entity.Goods" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into goods
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="goodsname != null">
        goodsName,
      </if>
      <if test="billstatus != null">
        billStatus,
      </if>
      <if test="goodsdistrict != null">
        goodsDistrict,
      </if>
      <if test="goodsprice != null">
        goodsPrice,
      </if>
      <if test="goodscount != null">
        goodsCount,
      </if>
      <if test="creationtime != null">
        creationTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="goodsname != null">
        #{goodsname,jdbcType=VARCHAR},
      </if>
      <if test="billstatus != null">
        #{billstatus,jdbcType=INTEGER},
      </if>
      <if test="goodsdistrict != null">
        #{goodsdistrict,jdbcType=INTEGER},
      </if>
      <if test="goodsprice != null">
        #{goodsprice,jdbcType=DOUBLE},
      </if>
      <if test="goodscount != null">
        #{goodscount,jdbcType=BIGINT},
      </if>
      <if test="creationtime != null">
        #{creationtime,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bdqn.day0506.entity.Goods">
    <!--@mbg.generated-->
    update goods
    <set>
      <if test="goodsname != null">
        goodsName = #{goodsname,jdbcType=VARCHAR},
      </if>
      <if test="billstatus != null">
        billStatus = #{billstatus,jdbcType=INTEGER},
      </if>
      <if test="goodsdistrict != null">
        goodsDistrict = #{goodsdistrict,jdbcType=INTEGER},
      </if>
      <if test="goodsprice != null">
        goodsPrice = #{goodsprice,jdbcType=DOUBLE},
      </if>
      <if test="goodscount != null">
        goodsCount = #{goodscount,jdbcType=BIGINT},
      </if>
      <if test="creationtime != null">
        creationTime = #{creationtime,jdbcType=DATE},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bdqn.day0506.entity.Goods">
    <!--@mbg.generated-->
    update goods
    set goodsName = #{goodsname,jdbcType=VARCHAR},
      billStatus = #{billstatus,jdbcType=INTEGER},
      goodsDistrict = #{goodsdistrict,jdbcType=INTEGER},
      goodsPrice = #{goodsprice,jdbcType=DOUBLE},
      goodsCount = #{goodscount,jdbcType=BIGINT},
      creationTime = #{creationtime,jdbcType=DATE}
    where id = #{id,jdbcType=BIGINT}
  </update>

<!--auto generated by MybatisCodeHelper on 2019-05-06-->
  <select id="findAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from goods
  </select>
</mapper>